<!DOCTYPE html>
<html>
<head>
	<title>Eat Da Burger</title>
</head>
<body>
	<div class="container">
		<h1>Eat Da Burger</h1>
		<div class="row"><img alt="burger" class=" center-block" src="/assets/images/download-1.jpg"></div>
		<div id="create">
			<form action="/" method="post">
				<input name="hamburgerorder" type="text">
        <button type="submit">Create a scrumptious burger!</button>
			</form>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-1">
				<ul>
						<h3 class="create">Eat Me!</h3>
            {{#each orders}}
              {{#unless this.devoured}}
					       <li class="devour">
                  {{this.hamburgerorder}}
      					  <form action='/{{this.id}}?_method=PUT' method='post'>
      							<input type='hidden' name='devoured' value='true'>
                    <button type='submit'>Devour me!</button>
      						</form>
      					</li>
            {{/unless}}
          {{/each}}
				</ul>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<ul>
					<h3>Sorry, I have already been devoured!</h3>
            {{#each orders}}
              {{#if this.devoured}}
                <li >
				           {{this.hamburgerorder}}
                </li>
              {{/if}}
            {{/each}}
          </li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
