<!DOCTYPE html>
<html>
<head>
	<title>Eat Da Burger</title>
</head>
<body>
	<div>
		<div class="row" id="title">
			<div class="col-md-12">
		<p>Eat Da Burger</p>
			</div>
		</div>
		<!-- <div class="row"><img alt="burger" class=" center-block" src="/assets/images/ham.wood.jpg"></div> -->
		<div id="create">
			<form action="/" method="post">
				<input name="hamburgerorder" type="text">
        <button type="submit">Create a scrumptious burger!</button>
			</form>
		</div>
		<div class="row" id="burgers">
			<div class="col-md-6">
				<ul class='transbox'>
						<p class="create">Eat Me!</p>
            {{#each orders}}
              {{#unless this.devoured}}
					       <li class="devour">
                  {{this.hamburgerorder}}
      					  <form action='/{{this.id}}?_method=PUT' method='POST'>
      							<input type='hidden' name='devoured' value='true'>
                    <button type='submit'id='button'>Devour me!</button>
      						</form>
      					</li>
            {{/unless}}
          {{/each}}
				</ul>
			</div>
			<div class="col-md-6">
				<ul class='transbox'>
					<p class="create">I've been devoured!</p>
            {{#each orders}}
              {{#if this.devoured}}
                <li >
				           {{this.hamburgerorder}}
                </li>
              {{/if}}
            {{/each}}
          </li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
